body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.title-header {
    background-image: url('https://www.ccacoalition.org/sites/default/files/resources//food-waste_1024x512.jpg');
    background-size: cover;
    text-align: center;
    padding: 20px;
}

.title {
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 50px;
}
.quote-box {
    background-color: darkgreen; /* Green color */
    color: #fff; /* Text color */
    border-radius: 15px; /* Border radius for curved edges */
    padding: 20px; /* Padding inside the box */
    position: relative;
}

.quote {
    font-style: italic;
    font-size: 20px;
}

.quote-box::before,
.quote-box::after {
    content: '\201C'; /* Unicode character for opening double quote */
    font-size: 2em;
    color: #fff;
    position: absolute;
    top: -10px;
}

.quote-box::after {
    content: '\201D'; /* Unicode character for closing double quote */
    bottom: -20px;
    right: 0;
}
#veggie{
    max-height: auto;
    max-width: 700px;
    border-radius: 30%;
    
}